* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

.font-price {
  padding-top: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.font-price {
  padding-top: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.header {
  background-color: #222222;
  padding: 16px 0;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__logo {
  margin-right: 41px;
}

.header__item:not(:last-child) {
  margin-right: 33px;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 148px;
  background: #F8F3F4;
}

@media (max-width: 600px) {
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.heading__left {
  display: block;
}

.heading__left a {
  color: #F16D7F;
  text-decoration: none;
}

.heading__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

@media (max-width: 600px) {
  .heading__right {
    margin-bottom: 20px;
  }
}

.heading__right a {
  color: #6F6E6E;
}

.heading__right a::before {
  content: '/';
  margin: 0 5px;
  color: #636363;
  font-weight: normal;
}

.heading__right a:first-child::before {
  content: '';
  margin: 0 5px;
  color: #F16D7F;
}

.heading__right a:last-child {
  color: #F16D7F;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.subscribe {
  min-height: 450px;
  background-image: url(img/subscrible/subscrible-back.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

@media (max-width: 600px) {
  .subscribe {
    height: 600px;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .subscribe__form {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe__desc {
  width: 365px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__desc img {
  width: 96px;
}

.subscribe__desc p {
  padding-top: 30px;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 600px) {
  .subscribe__desc {
    margin-top: 60px;
  }
}

.subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 142px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__input span {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
}

@media (max-width: 600px) {
  .subscribe__input {
    margin-top: 90px;
  }
}

.subscribe__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe__input-left {
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  height: 49px;
  width: 256px;
  padding: 15px;
  border: none;
  background: #E1E1E1;
}

.subscribe__input-right {
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  height: 49px;
  width: 100px;
  background-color: #F16D7F;
  color: white;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: #222224;
  height: 80px;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__link {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  margin: 5px;
  width: 35px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__link:hover {
  color: #EF5B70;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1024px) {
  .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card__item {
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F8F8F8;
  width: 360px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .card__item:nth-child(odd) {
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .card__item:nth-child(odd) {
    margin-right: 0px;
  }
}

.card__text {
  padding: 25px 25px 17px 17px;
}

.card h3 {
  padding-bottom: 12.65px;
  font-weight: normal;
}

.card h4 {
  color: #5D5D5D;
  padding-bottom: 18px;
}

.card__overlay {
  position: absolute;
  top: 0;
  height: 420px;
  width: 360px;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__item:hover .card__overlay {
  opacity: 1;
}

.card__item:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.card__btn {
  height: 42px;
  width: 138px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__btn img {
  padding-right: 10px;
}

.pages__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 48px 0 96px 0;
}

.pages__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  border: 1px solid #ebebeb;
  padding: 14px 14px;
}

.pages__link {
  color: #e2dfdf;
  margin: 8px;
  cursor: pointer;
}

.pages__link:hover {
  color: #EF5B70;
}

.filter {
  margin: 51px 0px 64px 0px;
}

.filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__left {
  position: absolute;
  outline: none;
  border: none;
}

.filter__up {
  z-index: 1;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
}

.filter__up[open] {
  width: 360px;
  margin-bottom: 20px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #FFFFFF;
  cursor: pointer;
}

.filter__up[open] > summary {
  color: #F16D7F;
  outline: none;
  border: none;
}

.filter__down {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__down :hover {
  color: #F16D7F;
  background: #FFFFFF;
}

.filter__down h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .filter__down h3 {
    display: none;
  }
}

.filter__down svg {
  margin: 4px 0 0 11px;
}

.filter__down svg:hover {
  fill: #F16D7F;
}

.filter__content {
  position: absolute;
  background-color: #FFFFFF;
  width: 360px;
  left: 0;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__catlist {
  margin: 20px 0 0px 10px;
}

.filter__catlist:nth-child(3) {
  margin-bottom: 20px;
}

.filter__deep {
  display: block;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 15px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
}

.filter__points {
  width: 360px;
  height: 344px;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 29px;
  color: #6F6E6E;
  padding: 17px 0 0 34px;
}

.filter__points a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 1024px) {
  .filter__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.filter__items {
  margin-right: 28px;
}

.filter__items:last-child {
  margin-right: 0;
}

.filter__items select {
  text-transform: uppercase;
  color: #6F6E6E;
  background: #FFFFFF;
  border: none;
}

@media (max-width: 600px) {
  .filter__items select {
    font-size: 12px;
    line-height: 14px;
  }
}

.filter__round {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  width: 100%;
  height: 777px;
}

.slider img {
  width: 597px;
}

@media (max-width: 1024px) {
  .slider img {
    width: 466px;
  }
}

@media (max-width: 600px) {
  .slider img {
    width: 374px;
  }
}

.slider__btn {
  width: 47px;
  height: 47px;
  border-style: none;
  background: rgba(42, 42, 42, 0.15);
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider__btn:hover {
  -webkit-transition: border-radius 0.5s;
  transition: border-radius 0.5s;
  border-radius: 15px;
  color: #F16D7F;
}

.slider__btn:active {
  color: #F16D7F;
}

.specification {
  border: 1px solid #EAEAEA;
  margin-top: -64px;
  margin-bottom: 129px;
  position: relative;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .specification {
    border: none;
    margin: 0;
  }
}

.specification h2 {
  padding-top: 64px;
  padding-bottom: 13px;
  color: #F16D7F;
}

.specification h3 {
  margin-top: 12px;
  color: #4D4D4D;
}

.specification p {
  margin-top: 48.5px;
  color: #5E5E5E;
  text-align: center;
  width: 50%;
}

@media (max-width: 1024px) {
  .specification p {
    width: 80%;
  }
}

.specification h4 {
  line-height: 29px;
  color: #EF5B70;
  margin: 32px 0 65px 0;
}

.specification hr {
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  border: none;
}

.spec-footer hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #EAEAEA;
}

.spec-footer__filter {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .spec-footer__filter {
    font-size: 10px;
  }
}

.spec-footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 49px 0 65px 0;
}

.spec-footer__input {
  border: 1px solid #F16D7F;
  text-decoration: none;
  padding: 14px 25px;
  color: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spec-footer__input i {
  padding-right: 20px;
  padding-top: 2px;
}

.spec-footer__input:hover {
  color: #5E5E5E;
}

.product__card {
  margin-top: 129px;
  margin-bottom: 128px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.product-block:first-child {
  margin-top: 96px;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .product-block__img {
    width: 143px;
  }
}

.product-block__text {
  width: 390px;
  padding: 22px 22px 62px 32px;
}

@media (max-width: 1024px) {
  .product-block__text {
    width: 472px;
  }
}

@media (max-width: 600px) {
  .product-block__text {
    width: 214px;
    padding: 13px 13px 40px 17px;
  }
}

.product-block__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #222222;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-block p {
  font-weight: normal;
}

@media (max-width: 600px) {
  .product-block p {
    font-size: 16px;
    line-height: 19px;
  }
}

.product-block ul {
  margin-top: 42px;
  list-style: none;
  color: #575757;
}

@media (max-width: 600px) {
  .product-block ul {
    font-size: 16px;
    line-height: 19px;
  }
}

.product-block__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.product-block__close img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media (max-width: 600px) {
  .product-block__close img {
    width: 10px;
  }
}

.product-block span {
  color: #F16D7F;
}

.cart-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 72.5px 0 128.5px 0;
}

.cart-nav a {
  outline: 1px solid #A4A4A4;
  padding: 17px 40px;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 600px) {
  .cart-nav a {
    font-size: 12px;
    line-height: 14px;
    padding: 13px;
  }
}

@media (max-width: 1024px) {
  .cart-nav a:first-child {
    margin-right: 25px;
  }
  .cart-nav a:last-child {
    margin-left: 25px;
  }
}

@media (max-width: 600px) {
  .cart-nav {
    margin: 48px 0 30px 0;
  }
  .cart-nav a:first-child {
    margin-right: 5px;
  }
  .cart-nav a:last-child {
    margin-left: 5px;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shipping-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .shipping-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 96px;
  }
}

@media (max-width: 600px) {
  .shipping-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shipping-left {
  width: 360px;
  height: 272px;
  margin-top: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .shipping-left {
    margin-top: -35px;
  }
}

@media (max-width: 600px) {
  .shipping-left {
    margin-top: 0px;
  }
}

.shipping-left__button {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shipping-left input {
  height: 45px;
  outline: 1px solid #A4A4A4;
  padding-left: 17px;
  border: none;
}

.shipping-left__send {
  width: 102px;
  height: 35px;
  padding: 10px 14px;
  background: none;
  border: none;
  cursor: pointer;
  color: #4A4A4A;
}

.shipping-right {
  width: 360px;
  height: 214px;
  margin-top: 57.5px;
  background: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (max-width: 1024px) {
  .shipping-right {
    margin-top: 0px;
  }
}

@media (max-width: 600px) {
  .shipping-right {
    margin-top: 48.5px;
  }
}

.shipping-right p {
  padding-top: 39px;
  padding-right: 34px;
  margin-bottom: 12px;
  color: #4A4A4A;
}

.shipping-right h3 {
  padding-right: 37px;
  color: #222222;
}

.shipping-right hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 21px 42px 17px;
  width: 275px;
  height: 1px;
  border: none;
  background-color: #E2E2E2;
}

.shipping-right input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  color: white;
  padding: 15px 40px;
  margin: 0 42px;
  border: none;
  cursor: pointer;
}

.registration-block {
  margin-top: 64px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 600px) {
  .registration-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reg-form {
  width: 360px;
  margin-right: 20px;
}

.reg-form__input {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 0 0 17px;
}

.reg-form__ln, .reg-form__pw {
  margin-top: 21px;
}

.reg-form h4 {
  margin-bottom: 20px;
}

.reg-form p {
  margin: 15.5px 0 39px 0;
}

.reg-form__gender {
  margin: 32px 0 33px 0;
}

.reg-form__submit {
  width: 167px;
  height: 50px;
  background: #F16D7F;
  border: none;
  color: white;
  cursor: pointer;
}

.reg-form__gender-r {
  margin-left: 20px;
}

.reg-list {
  max-width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .reg-list {
    max-width: 354px;
  }
}

@media (max-width: 600px) {
  .reg-list {
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .reg-list h3,
  .reg-list p {
    font-size: 16px;
    line-height: 19px;
  }
}

.reg-list ul {
  list-style-image: url(/img/registration/check.svg);
  list-style-position: inside;
}

@media (max-width: 1024px) {
  .reg-list ul li {
    font-size: 16px;
    line-height: 19px;
  }
}

.reg-list li {
  padding-bottom: 16px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 33px;
  margin-bottom: 95.5px;
}

.button__input {
  border: 1px solid #F16D7F;
  text-decoration: none;
  padding: 15px 38.5px;
  color: #F16D7F;
}

.button__input:hover {
  color: white;
  background-color: #F16D7F;
}

.promo {
  background-color: #F1E4E6;
}

.promo__block {
  min-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(img/promo/man.png);
  background-repeat: no-repeat;
  background-position-x: -228px;
}

@media (max-width: 600px) {
  .promo__block {
    min-height: 368px;
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.promo__title {
  padding-left: 20px;
  border-left: 12px solid #F16D7F;
}

@media (max-width: 600px) {
  .promo__title h1 {
    font-size: 38px;
    line-height: 46px;
  }
  .promo__title h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .promo__title span {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 1024px) {
  .promo__title h1 {
    font-size: 44px;
    line-height: 53px;
  }
  .promo__title h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .promo__title span {
    font-size: 24px;
    line-height: 29px;
  }
}

.promo span {
  color: #F16D7F;
}

.index {
  margin-top: 96px;
  margin-bottom: 48px;
  text-align: center;
}

.index p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5D5D5D;
}

.category {
  margin-top: 65px;
}

.category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__item {
  width: 32%;
  margin-bottom: 30px;
  padding: 0 70px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

@media (max-width: 600px) {
  .category__item {
    width: 100%;
  }
}

.category__item:last-child {
  width: 100%;
  height: 180px;
  color: white;
}

.category h2 {
  color: #F16D7F;
}

.category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__item-1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(68, 50, 50, 0.7))), url(img/category/categore-1.png);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(68, 50, 50, 0.7)), url(img/category/categore-1.png);
  background-size: cover;
}

.category__item-2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(68, 50, 50, 0.7))), url(img/category/categore-2.png);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(68, 50, 50, 0.7)), url(img/category/categore-2.png);
  background-size: cover;
}

.category__item-3 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(68, 50, 50, 0.7))), url(img/category/categore-3.png);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(68, 50, 50, 0.7)), url(img/category/categore-3.png);
  background-size: cover;
}

.category__item-4 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(68, 50, 50, 0.7))), url(img/category/categore-4.png);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(68, 50, 50, 0.7)), url(img/category/categore-4.png);
  background-size: cover;
}

.category__footer {
  margin-top: 96px;
  margin-bottom: 48px;
  text-align: center;
}

.category__footer p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5D5D5D;
}

.inform {
  min-height: 341px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inform__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .inform__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.inform__element {
  width: 33%;
  text-align: center;
  color: #FBFBFB;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 600px) {
  .inform__element {
    width: 360px;
  }
}

.inform__element:last-child > p {
  margin-bottom: 50px;
}

.inform__element img {
  width: 50px;
  height: 40px;
}

@media (max-width: 600px) {
  .inform__element img {
    margin-top: 50px;
  }
}

.inform__element h3 {
  padding: 16px 0px;
}

.font__11p {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.font__16p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.font__24p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.font__24-b {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.font__13p {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.font__14p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-decoration: none;
}

.font__48p {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.font__30p {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.font__32-b {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.font__18p {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.font__22p {
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}

.font__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.gray {
  color: #B1B1B1;
}
/*# sourceMappingURL=style.css.map */