.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $max_mobile) {
        justify-content: center;
    }

    @media (max-width: $max_tablet) {
        justify-content: center;
    }

    &__item {
        margin-bottom: 30px;
        box-sizing: border-box;
        background-color: #F8F8F8;
        width: 360px;


        overflow: hidden;
        position: relative;
        transition: 0.5s;

        @media (max-width: $max_tablet) {
            &:nth-child(odd) {
                margin-right: 20px;
            }
        }

        @media (max-width: $max_mobile) {
            &:nth-child(odd) {
                margin-right: 0px;
            }
        }

    }

    &__text {
        padding: 25px 25px 17px 17px;
    }

    &__heading {
        text-decoration: none;
        font-size: 13px;
        line-height: 16px;
        color: #000;
    }

    & h4 {
        color: #5D5D5D;
        padding-top: 12.65px;
        padding-bottom: 18px;
    }

    // Затемнение карточки
    &__overlay {
        position: absolute;
        top: 0;
        height: 420px;
        width: 360px;
        background-color: rgba(58, 56, 56, 0.83);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.5s;
    }

    &__item:hover .card__overlay {
        opacity: 1;
    }

    &__item:hover {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    }

    &__btn {
        height: 42px;
        width: 138px;
        border: 1px solid white;
        color: white;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        & img {
            padding-right: 10px;
        }
    }
}