.product-left {
    display: flex;
    flex-direction: column;

    @media (max-width: $max_tablet) {
        display: flex;
        align-items: center;
    }

}

.product-block {
    display: flex;
    justify-content: space-between;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

    &:first-child {
        margin-top: 96px;
        margin-bottom: 40px;
    }

    &__img {
        @media (max-width: $max_mobile) {
            width: 143px;
        }
    }

    &__text {
        width: 390px;
        padding: 22px 22px 62px 32px;

        @media (max-width: $max_tablet) {
            width: 472px;
        }

        @media (max-width: $max_mobile) {
            width: 214px;
            padding: 13px 13px 40px 17px;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        color: #222222;
        align-items: flex-start;
    }

    & p {
        font-weight: normal;

        @media (max-width: $max_mobile) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    & ul {
        margin-top: 42px;
        list-style: none;
        color: #575757;

        @media (max-width: $max_mobile) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    &__close {
        border: none;
        background-color: transparent;
        cursor: pointer;

        & img {
            display: flex;
            align-content: flex-start;

            @media (max-width: $max_mobile) {
                width: 10px;
            }
        }
    }

    & span {
        color: $pink;
    }

}


.cart-nav {
    display: flex;
    justify-content: space-between;
    margin: 72.5px 0 128.5px 0;



    & a {
        outline: 1px solid #A4A4A4;
        padding: 17px 40px;
        color: #000000;
        text-decoration: none;

        @media (max-width: $max_mobile) {
            font-size: 12px;
            line-height: 14px;
            padding: 13px;
        }
    }

    @media (max-width: $max_tablet) {

        & a:first-child {
            margin-right: 25px;
        }

        & a:last-child {
            margin-left: 25px;
        }
    }

    @media (max-width: $max_mobile) {
        margin: 48px 0 30px 0;

        & a:first-child {
            margin-right: 5px;
        }

        & a:last-child {
            margin-left: 5px;
        }
    }
}

.container__product {
    display: flex;
    justify-content: space-between;

    @media (max-width: $max_tablet) {
        display: flex;
        flex-direction: column;
    }
}

.shipping-form {
    display: flex;
    flex-direction: column;


    @media (max-width: $max_tablet) {
        display: flex;
        flex-direction: initial;
        justify-content: space-between;
        margin-bottom: 96px;
    }

    @media (max-width: $max_mobile) {
        display: flex;
        flex-direction: column;
    }
}

.shipping-left {
    width: 360px;
    height: 272px;
    margin-top: 96px;
    display: flex;
    flex-direction: column;

    & p {
        margin-bottom: 20px;
    }

    @media (max-width: $max_tablet) {
        margin-top: 0px - 35px;
    }

    @media (max-width: $max_mobile) {
        margin-top: 0px;
    }

    &__button {
        width: 360px;
        display: flex;
        flex-direction: column;

    }

    & input {
        height: 45px;
        outline: 1px solid #A4A4A4;
        padding-left: 17px;
        border: none;
    }

    &__send {
        width: 102px;
        height: 35px;
        padding: 10px 14px;
        background: none;
        border: none;
        cursor: pointer;
        color: #4A4A4A;
    }

}

.shipping-right {
    width: 360px;
    height: 214px;
    margin-top: 57.5px;
    background: #F5F3F3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;

    @media (max-width: $max_tablet) {
        margin-top: 0px;
    }

    @media (max-width: $max_mobile) {
        margin-top: 48.5px;
    }

    & p {
        padding-top: 39px;
        padding-right: 34px;
        margin-bottom: 12px;
        color: #4A4A4A;
    }

    & h3 {
        padding-right: 37px;
        color: #222222;
    }

    & hr {
        display: flex;
        justify-content: center;
        margin: 21px 42px 17px;
        width: 275px;
        height: 1px;
        border: none;
        background-color: #E2E2E2;
    }

    & a {
        display: flex;
        justify-content: center;
        outline: none;
        width: 273px;
        height: 50px;
        background-color: $pink;
        color: white;
        padding: 15px 40px;
        margin: 0 42px;
        border: none;
        cursor: pointer;
    }
}