a * {
    cursor: pointer;

    &:hover {
        opacity: 0.6;
        transition: 0.3s;
    }

}

.header {
    background-color: #222222;
    padding: 16px 0;
    height: 75px;

    &__wrap {
        @include space-between();
    }

    &__left {
        @include space-between();
        align-items: center;
        height: 44px;
    }

    &__right {
        @include space-between();
        height: 44px;
    }

    &__logo {
        margin-right: 41px;
    }

    &__bascet {
        position: relative;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 33px;
        }

        &:first-child {
            cursor: initial;
        }

        @media (max-width: $max_mobile) {

            &:not(:first-child) {
                display: none;
            }

            &:nth-child(1) {
                margin-right: 0px;
            }
        }
    }
}



.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 148px;
    background: #F8F3F4;

    @media (max-width: $max_mobile) {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    &__left {
        display: block;

        & a {
            color: #F16D7F;
            text-decoration: none;
        }
    }

    &__right {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        & a {
            color: #6F6E6E;

            &::before {
                content: '/';
                margin: 0 5px;
                color: #636363;
                font-weight: normal;
            }

            &:first-child::before {
                content: '';
                margin: 0 5px;
                color: #F16D7F;
            }

            &:last-child {
                color: #F16D7F;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                text-decoration: none;
            }
        }
    }
}

* {
    box-sizing: border-box;
}

.burger {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    list-style-type: none;

    & label {
        cursor: pointer;
    }

    &__nav {
        position: absolute;
        right: 0;
        z-index: 10;
        display: none;
        top: 75px;
    }

    .nav {
        width: 232px;
        background-color: white;
        padding-left: 34px;
        height: calc(100vh - 63px);

        & h2 {
            padding-top: 37px;
            padding-bottom: 24px;
            font-weight: bold;
        }

        & h3 {
            color: $pink;
            font-weight: normal;
            padding-bottom: 12px;
        }

        &__close {
            position: absolute;
            margin-left: 205px-34px;
            margin-top: 16px;
            cursor: pointer;
        }

        &__list {
            padding-left: 17px;
            list-style-type: none;
            padding-bottom: 20px;
        }

        &__link {
            text-decoration: none;
            color: #6F6E6E;
            line-height: 200%;
        }
    }

    #burger {
        display: none;
    }

    #burger:checked~.burger__nav {
        display: block;
    }

    #burger:not(checked)~.burger__nav {
        display: none;
    }
}