.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    width: 100%;
    height: 777px;
    &__btn {
       width: 47px;
       height: 47px;
       border-style: none;
       background: rgba(42, 42, 42, 0.15);
       font-size: 30px;
       @include flex-center;
    }
    &__btn:hover {
        transition: border-radius 0.5s;
        border-radius: 15px;
        color: $pink;
    }
    &__btn:active {
        color: $pink;
    }
}
.specification {
    // border: 1px solid red;
    width: 1140px;
    height: 600px;
    margin-top: -64px;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
   &__header-font1 {
    padding-top: 64px;
    padding-bottom: 13px ;
    color: $pink;
   } 
   &__header-font2 {
    margin-top: 12px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
   }
   &__main-font {
    margin-top: 48.5px;
    color: #5E5E5E;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 0 280px;
   }
   &__price-font {
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin: 32px 0 65px 0;
   }
   & hr {
    width: 63px;
    height: 3px;
    background-color: $pink;
    border: none;
   }
}
.spec-footer {
    & hr {
        width: 641px;
        height: 1px;
        border: none;
        background-color: #EAEAEA;
    }
    &__filter {
        margin-top: 65px;
    }
    &__button {
        display: flex;
        justify-content: center;
        margin: 49px 0 65px 0;
    }
    &__input {
        border: 1px solid #F16D7F;
        text-decoration: none;
        padding: 14px 25px;
        color: #F16D7F;
        display: flex;
        justify-content: space-between;
        & i {padding-right: 20px;
        padding-top: 2px;}
    }
    &__input:hover {
        color: #5E5E5E;
    }
}
.product__card {
    margin-top: 129px;
    margin-bottom: 128px;
}
